//
//
@import './header.scss';
@import './colors.scss';
@import './rental-home.scss';

html,
body {
  height: 100%;
}

.type- {
  &apartment {
    color: #a72da3;
  }

  &house {
    color: #bf1818;
  }

  &condo {
    color: #d68000;
  }
}

.navbar .nav-link.dropdown-toggle:hover {
  color: $main-app-color;
}

.btn.btn-bwm-main {
  border-color: $main-app-color;
  color: $main-app-color;
}

.btn.btn-bwm-main:hover,
.btn.btn-bwm-main:focus,
.btn.btn-bwm-main:active {
  background-color: #61dafb;
  border-color: $main-app-color;
  color: #fff;
  box-shadow: none;
}
